<!DOCTYPE html>
<html>
  <head>
    <title>It's Just Karissa</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf8">
  </head>
  <body>
    <header class="wrapper">
      <h1><a href="/">It'sJustKarissa</a></h1>
      <nav>
        <% {'shop' => 'Shop', 'blog' => 'Blog', 'recipes' => 'Recipes'}.each_with_index do |values, index| %>
          <div class="<%= "n#{index+1}" %><%= ' current_page' if (@page == values[0] || @page == 'home') %>">
            <a href="/<%= values[0] if values[0] != 'home' %>"><%= values[1] %></a>
          </div>
        <% end %>
      </nav>
      <%= yield %>
    </header>
  </body>
</html>