<div class="wrapper">
  <section class="single">
<!--     <a href="/recipes" class="back">&#60;</a> -->
    <img src="<%= @contents["image"] %>" alt="<%= @contents["title"] %>">
    <div class="details">
      <h2><%= @contents["title"] %></h2>
      <ul>
        <% @contents["ingredients"].each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>
      <ol>
        <% @contents["steps"].each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ol>
    </div>
  </section>
</div>